@charset "ISO-8859-1";

//Form
input[type=text], select, input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #9370DB;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form {
    border-radius: 5px;
    background-color:#FFC0CB;
    padding:20px;
    width: 40%;
    margin:auto;
    margin-top: 130px;
    border-top: 8px solid 	#FF69B4;

}
body {
                margin: 0;
                padding:0;
                min-height: 100%;
                background-size: cover;
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-position: center center;
            }
            
//lista

            #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td, #customers th {
        border: 1px solid #FFC0CB;
        padding: 8px;
    }

    #customers tr:nth-child(even){background-color: #FFC0CB;}

    #customers tr:hover {background-color: 	#FFB6C1;}

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #FF69B4;
        color: white;
    }

    